.background-animals {
  background-image: url(../../images/waterbird.jpg);
}

.animals-title {
  font-size: 4em;
  font-family: "EB Garamond";
  padding-top: 10px;
  margin-right: 34%;
}

.info-animals {
  text-align: center;
  font-family: "EB Garamond";
  line-height: 40px;
  font-size: 2em;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
}

.interior-animals {
  display: flex;
  flex-direction: row;
}

.animal-icon {
  margin-right: 5%;
}

.button-line {
  margin-left: 40%;
}

.myButton {
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.myButton:hover {
  background-color: #5cbf2a;
}
.myButton:active {
  position: relative;
  top: 1px;
}
